{% extends 'base.html' %}

{% block content %}

<div>
    <button type="submit" id="show_cnn">Show CNN</button>
    <button type="submit" id="show_nyt">Show New York Times</button>
</div>

<script src="/static/jqcloud.js"></script>

<link rel="stylesheet" href="/static/jqcloud.css">


<script>

    // get word cloud for cnn
    $("#show_cnn").on("click", function(evt) {
    evt.preventDefault();

        $.get("/get-news.json", function(response) {

            var words = response.cnn
            var matches = []

            for (word in words) {
                matches.push({"text": word, "weight": words[word]})
            }

            $("#cnn").jQCloud(matches);

        })
    })

    // get word cloud for new york times

    $("#show_nyt").on("click", function(evt) {
        evt.preventDefault();

            $.get("/get-news.json", function(response) {

                var words = response.nyt;
                var matches = [];

                for (word in words) {
                    matches.push({"text": word, "weight": words[word]})
                }

                $("#nyt").jQCloud(matches);
            })
    })

</script>

<div>
  <div id="cnn" style="width: 450px; height: 300px; position: relative;"></div>
  <div id="nyt" style="width: 450px; height: 300px; position: relative;"></div>
</div>
{% endblock %}

