{% extends 'base.html' %}

{% block content %}


<script src="/static/jqcloud.js"></script>

<link rel="stylesheet" href="/static/jqcloud.css">


<script>

    // get word cloud for cnn
    $("#show_cnn").on("click", function(evt) {
    evt.preventDefault();

        $.get("/get-news.json", function(response) {

            var words = response.cnn
            var matches = []

            for (word in words) {
                matches.push({"text": word, "weight": words[word]})
            }

            $("#cnn").jQCloud(matches);

        })
    })

    // get word cloud for new york times

    $("#show_nyt").on("click", function(evt) {
        evt.preventDefault();

            $.get("/get-news.json", function(response) {

                var words = response.nyt;
                var matches = [];

                for (word in words) {
                    matches.push({"text": word, "weight": words[word]})
                }

                $("#nyt").jQCloud(matches);
            })
    })

    // get word cloud for breitbart news

    $("#show_breitbart").on("click", function(evt) {
        evt.preventDefault();

            $.get("/get-news.json", function(response) {

                var words = response.breitbart;
                var matches = [];

                for (word in words) {
                    matches.push({"text": word, "weight": words[word]})
                }

                $("#breitbart").jQCloud(matches);
            })
    })

</script>


<div class="container">
<div class="row">
  <div class="col-sm-4">
      <button class="btn btn-default" type="submit" id="show_cnn">Show CNN</button>
      <div id="cnn" style="width: 350px; height: 300px; position: relative;"></div>
  </div>
  <div class="col-sm-4">
      <button class="btn btn-default" type="submit" id="show_nyt">Show New York Times</button>
      <div id="nyt" style="width: 350px; height: 300px; position: relative;"></div>
  </div>
  <div class="col-sm-4">
      <button class="btn btn-default" type="submit" id="show_breitbart">Show Breitbart News</button>
      <div id="breitbart" style="width: 350px; height: 300px; position: relative;"></div>
  </div>

</div>
</div>
{% endblock %}

